/* 사이드바 프로필 이미지 & 텍스트 가운데 정렬 */
#avatar, .profile-wrapper {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center !important;
  flex-direction: column; /* 이미지와 글자를 세로로 나열 */
}

#sidebar .site-title, #sidebar .site-subtitle {
  text-align: center !important;
}
